
.productsContainer {
    display: flex;
    flex-direction: row;  /* This ensures the items are stacked vertically */
    flex-wrap: wrap;
    gap: 20px; /* Optional: Adds spacing between products. */
    position: relative;
}

.productItem {
    position: relative;
    width: calc(50% - 20px);
    background-color: #fcf;
    border-radius: 0px 0px 20px 20px;
}

.productImage {
    width: 100%;
    height: 250px;
    background-color: #ffc;
    object-fit: cover;
    border-radius: 20px;
    --mask:
    radial-gradient(59.17px at 50% calc(100% - 81.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(59.17px at 50% calc(100% + 51.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}