.basketContainer {
    position: relative;
    font-size: 20px;
    line-height: 40px;
    top: 130px;
}

.weirdMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.weirdMenu span {
    background-color: #cfc;
    &:hover {
        cursor: pointer;
    }
}

.basketList {
    background-color: #fcf;
    font-size: 20px;
    line-height: 50px;
    top: 130px;
}

.totalPrice {
    background-color: #fff;
    font-size: 28px;
}

/* Mobile Styles */

.basketContainerMobile {
    position: absolute;
    background-color: #A6CB12;
    height: 100%;
    width: calc(100vw - 40px);
    padding: 20px;
    top: 120px;
    font-size: 20px;
    line-height: 40px;
}